body {
  width: 1220px;
  height: 1750px;
  margin: auto;
  padding: auto;
  background-color: #f1efef;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-decoration: none;
}

header {
  width: 1200px;
  height: 1750px;
  margin-left: 120px;
  margin-right: 120px;

  text-decoration: none;
}

.headermain {
  width: 1200;
  height: 1750;
  background-color: #a9a9a9;
  display: flex;
  justify-content: space-between;

  text-decoration: none;
}

.headerlogo img {
  width: 200px;
  height: 90px;
  border-radius: 22px;
  margin-left: 20px;
  margin-top: 8px;
  margin-bottom: 8px;

  text-decoration: none;
}

.headercenter {
  margin-top: 45px;
  display: flex;
  font-size: 0px;


  text-decoration: none;
  font-family: Microsoft Sans Serif;
}

.Headercenter ul {
  width: 427px;
  height: 32px;
  margin: 0;
  padding: 0;

  text-decoration: none;
}

.headercenter li {
  margin: 0 20px;
  list-style: none;

  text-decoration: none;
}

.headercenter a {
  margin: 0px;
  color: #fff;
  font-size: 20px;
  font-family: "roboto", sans-serif;

  text-decoration: none;
}

.headercenter li:nth-child(2) a {
  font-weight: bold;

  text-decoration: none;
}

.headerright {
  width: 206px;
  height: 32px;
  margin-top: 37px;
  margin-right: 28px;
}

.headerright a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-family: "roboto", sans-serif;
  margin-right: 10px;
}


.textp {
  text-decoration: none;
  font-family: Gabriola;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #000000;
}

.Home_card__7oz7W {
  margin:left;
  padding: left;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color .15s ease, border-color .15s ease;
  width: 45%;
  font-size: 20px;
}

.p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

* {
  box-sizing: border-box;
}

.Home_card__7oz7W p {
  margin: 10;
  font-size: 1.25rem;
  line-height: 1.5;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}

.image {
  left: 30px;
}

.home_footersp__KCJ7G {}

.home_footer__7dKhS {}

/* footer {
	
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	
} */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  // color

  background-color: #fff;
}